# Basic perceptron implementation
- single layer neural network

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [57]:
class Perceptron:
    def __init__(self,eta,epochs):
        self.weights = np.random.randn(3)*1e-4
        print(f"self.weights:{self.weights}")
        self.eta=eta
        self.epochs=epochs

    def activationFunction(self, inputs, weights):
        print(inputs.shape,weights.shape)
        z=np.dot(inputs,weights)
        return np.where(z>0,1,0)

    def fit(self,X,y):
        self.X=X
        self.y=y

        X_with_bias=np.c_[X, -np.ones((len(self.X), 1))]
        print(f"X_with_bias:\n{X_with_bias}")

        for epoch in range(self.epochs):
            print(f"for epoch:{epoch}")
            y_hat = self.activationFunction(X_with_bias,self.weights)
            print(f"predicted value:\n{y_hat}")
            error = self.y-y_hat
            print(f"error:\n{error}")
            self.weights = self.weights + self.eta * np.dot(X_with_bias.T, error)
            print(f"updated weights: \n{self.weights}")
            print("#############\n")
    def predict(self,X):
        X_with_bias =np.c_[X, -np.ones((len(self.X), 1))]
        return self.activationFunction(X_with_bias,self.weights)

# AND operation

In [30]:
data = {"x1": [0,0,1,1], "x2": [0,1,0,1], "y": [0,0,0,1]}

AND = pd.DataFrame(data)
AND

   x1  x2  y
0   0   0  0
1   0   1  0
2   1   0  0
3   1   1  1

In [31]:
X = AND.drop("y", axis=1)
X

   x1  x2
0   0   0
1   0   1
2   1   0
3   1   1

In [32]:
y = AND['y']
y.to_frame()

   y
0  0
1  0
2  0
3  1

In [58]:
model = Perceptron(eta = 0.5, epochs=10)
model.fit(X,y)

self.weights:[ 5.80594001e-05 -9.12128021e-05 -1.49165957e-04]
X_with_bias:
[[ 0.  0. -1.]
 [ 0.  1. -1.]
 [ 1.  0. -1.]
 [ 1.  1. -1.]]
for epoch:0
(4, 3) (3,)
predicted value:
[1 1 1 1]
error:
[-1 -1 -1  0]
updated weights:
[-0.49994194 -0.50009121  1.49985083]
#############

for epoch:1
(4, 3) (3,)
predicted value:
[0 0 0 0]
error:
[0 0 0 1]
updated weights:
[ 5.80594001e-05 -9.12128021e-05  9.99850834e-01]
#############

for epoch:2
(4, 3) (3,)
predicted value:
[0 0 0 0]
error:
[0 0 0 1]
updated weights:
[0.50005806 0.49990879 0.49985083]
#############

for epoch:3
(4, 3) (3,)
predicted value:
[0 1 1 1]
error:
[ 0 -1 -1  0]
updated weights:
[ 5.80594001e-05 -9.12128021e-05  1.49985083e+00]
#############

for epoch:4
(4, 3) (3,)
predicted value:
[0 0 0 0]
error:
[0 0 0 1]
updated weights:
[0.50005806 0.49990879 0.99985083]
#############

for epoch:5
(4, 3) (3,)
predicted value:
[0 0 0 1]
error:
[0 0 0 0]
updated weights:
[0.50005806 0.49990879 0.99985083]
#############

for epoch:6
(4, 3) (3,)
predicted value:
[0 0 0 1]
error:
[0 0 0 0]
updated weights:
[0.50005806 0.49990879 0.99985083]
#############

for epoch:7
(4, 3) (3,)
predicted value:
[0 0 0 1]
error:
[0 0 0 0]
updated weights:
[0.50005806 0.49990879 0.99985083]
#############

for epoch:8
(4, 3) (3,)
predicted value:
[0 0 0 1]
error:
[0 0 0 0]
updated weights:
[0.50005806 0.49990879 0.99985083]
#############

for epoch:9
(4, 3) (3,)
predicted value:
[0 0 0 1]
error:
[0 0 0 0]
updated weights:
[0.50005806 0.49990879 0.99985083]
#############

## trial

In [35]:
X=np.asarray([[0,0],[0,1],[1,0],[1,1]])
y=np.asarray([0,0,0,1])

In [36]:
X

array([[0, 0],
       [0, 1],
       [1, 0],
       [1, 1]])

In [37]:
y

array([0, 0, 0, 1])

In [40]:
df=pd.DataFrame(data=X,columns=['x1','x2'])

In [41]:
df

   x1  x2
0   0   0
1   0   1
2   1   0
3   1   1

In [42]:
df['y']=y

In [43]:
df

   x1  x2  y
0   0   0  0
1   0   1  0
2   1   0  0
3   1   1  1

In [50]:
weights = -1*np.random.randn(1,2)

In [51]:
weights

array([[0.29261444, 0.29916982]])

In [81]:
class perceptron:
    def __init__(self,eta,epochs):
        self.eta=eta
        self.epochs=epochs
        self.weights = -1*np.random.randn(1,2)
    def activation_fun(self,inputs,weights):
        in_dot_weights = np.dot(inputs,weights.T)
        return np.where(in_dot_weights>1,1,0)
    def fit(self,X,y):
        self.X=X
        self.y=y
        self.weights = -1*np.random.randn(1,2)
        for epoch in range(self.epochs):
            y_hat = self.activation_fun(X,weights)
            print("y_hat:\n",y_hat)
            error = self.y-y_hat.flatten().tolist()
            print("error:\n",error)
            updated_weights = self.weights+self.eta*(np.dot(X.T,error))
            print(f"updated weights: \n{self.weights}")
            print("#############\n")
    def predict(self,X):
        X_with_bias =np.c_[X, -np.ones((len(self.X), 1))]
        return self.activation_fun(X_with_bias,self.weights)

In [82]:
model1 = perceptron(eta = 0.5, epochs=10)
model1.fit(df[['x1','x2']],df['y'])

y_hat:
 [[0]
 [0]
 [0]
 [0]]
error:
 0    0
1    0
2    0
3    1
Name: y, dtype: int32
updated weights:
[[1.31154158 1.11196729]]
#############

y_hat:
 [[0]
 [0]
 [0]
 [0]]
error:
 0    0
1    0
2    0
3    1
Name: y, dtype: int32
updated weights:
[[1.31154158 1.11196729]]
#############

y_hat:
 [[0]
 [0]
 [0]
 [0]]
error:
 0    0
1    0
2    0
3    1
Name: y, dtype: int32
updated weights:
[[1.31154158 1.11196729]]
#############

y_hat:
 [[0]
 [0]
 [0]
 [0]]
error:
 0    0
1    0
2    0
3    1
Name: y, dtype: int32
updated weights:
[[1.31154158 1.11196729]]
#############

y_hat:
 [[0]
 [0]
 [0]
 [0]]
error:
 0    0
1    0
2    0
3    1
Name: y, dtype: int32
updated weights:
[[1.31154158 1.11196729]]
#############

y_hat:
 [[0]
 [0]
 [0]
 [0]]
error:
 0    0
1    0
2    0
3    1
Name: y, dtype: int32
updated weights:
[[1.31154158 1.11196729]]
#############

y_hat:
 [[0]
 [0]
 [0]
 [0]]
error:
 0    0
1    0
2    0
3    1
Name: y, dtype: int32
updated weights:
[[1.31154158 1.11196729]]
#############

y_hat:
 [[0]
 [0]
 [0]
 [0]]
error:
 0    0
1    0
2    0
3    1
Name: y, dtype: int32
updated weights:
[[1.31154158 1.11196729]]
#############

y_hat:
 [[0]
 [0]
 [0]
 [0]]
error:
 0    0
1    0
2    0
3    1
Name: y, dtype: int32
updated weights:
[[1.31154158 1.11196729]]
#############

y_hat:
 [[0]
 [0]
 [0]
 [0]]
error:
 0    0
1    0
2    0
3    1
Name: y, dtype: int32
updated weights:
[[1.31154158 1.11196729]]
#############